/* Brown Cat - https://www.cursors-4u.com/cursor/nat256 */
* {
  cursor: url('https://cdn.cursors-4u.net/previews/brown-cat-169e5e3c-32.webp') 32 32, auto !important;
}
/* End www.Cursors-4U.com Code */
body {
    background-image: url("../images/cat_background/OQ5DF90.jpg");
    background-attachment: fixed;
    display: grid;
    place-items: center;
    font-family:Arial;
}
main {
  margin-top:200px;
  border: 3px solid black;
   background: rgba(255, 255, 255, 0.518);
  backdrop-filter: blur(10px);
  padding: 10px;
}
.ZeldaImage{
  width: 100%;
}
.ZeldaImage img{
  width: 200px;
}

li{  
   list-style-type: "😸 ";
 }

 /*mobile styling */
 @media screen and (max-width: 800px) {
  body{
     place-items: center normal;
 }
 br {
  display:none;
 }
 main{
   margin-top:10px;
 }
  }
