<footer>
    <p><span id="date">Site last updated: </span> | Total Visitors: <span id="hitcount"></span></p>
    <!-- <p id="date">Page last updated: </p>
    <p>Visitors: <span id="hitcount"></span></p> -->
    <!-- <a href="https://neocities.org" target="_blank"><img src="images/neocities.png" alt="Site hosted by Neocites" height="70"></a>
     <a href="https://3maqi.neocities.org/" target="_blank"><img src="images\buttons\3maqi_animated.gif" title="3maqi" alt="3maqi's site"></a> -->
     <p><small>Site Founded: Apr 22, 2025</small></p>
    </footer>
    <noscript>Your browser does not support JavaScript!</noscript>