<div class="header">
    <img id="bannerisda" src="images/Isda_with_Zelda_flowers.png" title="Isda petting Zelda" alt="isda a goblin, petting a orange kitty named Zelda">
    <img src="images/title.png" id="title_image" title="hand drawn title" alt="3maqi, welcome to my site :3">
  </div>

</div>
  <nav id="desktop">
   <ul>
      <li><a href="index.html">Home</a></li>
       <li><a href="devlog.html">Devlog</a></li>
          <li><a href="todo.html">To-Do-List</a></li>
          <li><a href="journal.html">Journal</a></li>
          <li><a href="art.html">Art</a></li>
          <li><a href="experiments.html">Experiments</a></li>
       <li><a href="https://3maqi.atabook.org/">Sign my guest book!</a></li> 
       </ul>    
  </nav>
<div> 


 <!-- this button appears when changing to mobile navigation-->
  <!-- i used this guide: https://www.w3schools.com/howto/howto_js_collapsible.asp-->
  <button class="collapsible">Menu</button>
  <nav id="mobile">
   <ul>
      <li><a href="index.html">Home</a></li>
       <li><a href="devlog.html">Devlog</a></li>
          <li><a href="todo.html">To-Do-List</a></li>
          <li><a href="journal.html">Journal</a></li>
          <li><a href="art.html">Art</a></li>
          <li><a href="experiments.html">Experiments</a></li>
       <li><a href="https://3maqi.atabook.org/">Sign my guest book!</a></li> 
       </ul>    
  </nav>