<div class="header">
    <img id="bannerisda" src="images/Isda_with_Zelda_flowers.png" title="Isda petting Zelda" alt="isda a goblin, petting a kitty named Zelda">
    <img src="images/title.png" id="title_image" title="hand drawn title" alt="3maqi, welcome to my site :3">
</div>

  <nav id="desktop">
   <ul>
      <li><a href="/index.html">Home</a></li>
       <li><a href="/devlog.html">Devlog</a></li>
          <li><a href="/todo.html">To-Do-List</a></li>
          <li><a href="/journal.html">Journal</a></li>
          <li><a href="/art.html">Art</a></li>
           <li><a href="/photo.html">Photography</a></li>
          <li><a href="/Links.html">Links</a></li>
          <li><a href="/a/drawbox.html">Drawbox</a></li>
          <li><a href="/minecraft/index.html">Minecraft Shrine</a></li> 
       </ul>    
  </nav>
 
 <!-- this button appears when changing to mobile navigation-->
  <!-- i used this guide: https://www.w3schools.com/howto/howto_js_collapsible.asp-->
  <button class="collapsible">Menu</button>
  <nav id="mobile">
   <ul>
      <li><a href="/index.html">Home</a></li>
       <li><a href="/devlog.html">Devlog</a></li>
          <li><a href="/todo.html">To-Do-List</a></li>
          <li><a href="/journal.html">Journal</a></li>
          <li><a href="/art.html">Art</a></li>
          <li><a href="/photo.html">Photography</a></li>
          <li><a href="/Links.html">Links</a></li>
          <li><a href="/a/drawbox.html">Drawbox</a></li>
       <li><a href="/minecraft/index.html">Minecraft blog</a></li>
       </ul>    
  </nav>