/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

/*

some links for styling:
https://colorcodes.io/green/celadon-color-codes/ - colors im using for this site

https://pocketbroto.com/en/home - i really like the colors on this page and love the goblin-core

*/


* {
  box-sizing: border-box;
}

/* ids */

#bannerisda{
  width: 300px;
}
#title_image{
  width: 400px;
}

#profile_pic{
  border-radius: 25px;
}

body {
  color: #171e18;
   background-color: #4A5E4C;
  font-family: Helvetica, Verdana;
  width: 75%;
  margin: auto;
}

figure{
  max-width: 100%;
  display: inline-block;
  margin: 2.5%;
}

figure img{
  width:200px;
}

.screenshot{
  width: 400px;
}
/* Header/Blog Title */
.header {
  margin: 15px 0; 
  padding: 5px;
  border-radius: 25px;
  text-align: center;
  background-color: #ADDFB3;
  border-style: double;
  border-width: thick;
  border-color: #4A5E4C;
}


img {
    max-width: 100%;
    height: auto;
}


/* nav bar styling for desktop*/
nav ul {
  list-style-type: none;
  border-radius: 25px;
  margin: 0;
  padding: 0;
  overflow: hidden;
   background-color: #4A5E4C;
   border-style: double;
  border-width: thick;
  border-color: #ADDFB3;
}

nav li {
  list-style-type: none;
  float: left;
  border-right: thick double #ADDFB3;
}

nav li:last-child {
  border-right: none;
  float:right;
}

nav li a {
  list-style-type: none;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
   background-color: #2a362c;

}


.mobile_nav{
  display:none;
}

/* Create 2 unequal columns that floats next to each other */

/* main column */
.main {
  float: left;
  width: 75%;
  background-color: #4A5E4C;
  padding-left: 5px;
  padding-right: 5px;
}


/* Right column */
.aside {
  float: left;
  width: 25%;
  background-color: #4A5E4C;
  padding-right: 5px;
}


/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  background-color:#4A5E4C;;
}



/* Add a card effect for articles */
section {
  background-color: #bdf3c4;;
  border-radius: 25px;
  padding: 15px;
  border-style: double;
  border-width: thick;
  border-color: #4A5E4C;
  margin: 15px 0; 
  display: flow-root;
}

 li{  
   list-style-type: "✦ ";
 }
  

footer {
  margin: 15px 0; 
  border-radius: 25px;
  padding: 5px;
  text-align: center;
  background-color: #ADDFB3;
  margin-top: 5px;
}


/* Responsive layout for mobile devices */
/*a ton of people surf the internet on only their phone!*/
@media screen and (max-width: 800px) {
 .aside, .main {   
    width: 100%;
    padding: 0;
  }
  body {
    width: 100%;
  }
  /* mobile navigation */
   nav ul li.right, 
  nav ul li {
    float: none;
    border-right: none;
    border-bottom:  thick double #ADDFB3;
  }
  nav li:last-child {
    float: none;
    border-right: none;
    border-bottom: none;

  }
  #bannerisda, #title_image{
    width: 200px;
  }
  figure img{
    width:100px;
  }
  /* removes desktop navigation and switches to mobile */
  .desktop_nav{
    display: none;
  }
  .mobile_nav{
    display: inline;
  }
  /* images will be on top of each other instead of side to side */
  figure{
    display: block;
  }
}
